/* Loader */
.ui-icon-loading {
    /*background: url('../images/ajax-loader.gif');*/
    background-size: 2.875em 2.875em;
}



/* Viewport */
.ui-mobile-viewport {
    margin: 0;
    overflow-x: visible;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Issue #2066 */
body.ui-mobile-viewport,
div.ui-mobile-viewport {
    overflow-x: hidden;
}
/* "page" containers - full-screen views, one should always be in view post-pageload */
.ui-mobile [data-role=page],
.ui-mobile [data-role=dialog],
.ui-page {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: none;
    border: 0;
}
/* On ios4, setting focus on the page element causes flashing during transitions when there is an outline, so we turn off outlines */
.ui-page {
    outline: none;
}
.ui-mobile .ui-page-active {
    display: block;
    overflow: visible;
    /*overflow-x: hidden;*/
}
@media screen and (orientation: portrait) {
    .ui-mobile .ui-page {
        min-height: 420px;
    }
}
@media screen and (orientation: landscape) {
    .ui-mobile .ui-page {
        min-height: 300px;
    }
}
/* Fouc */
.ui-mobile-rendering > * {
    visibility: hidden;
}
/* Non-js content hiding */
.ui-nojs {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
/* Loading screen */
.ui-loading .ui-loader {
    display: block;
}
.ui-loader {
    display: none;
    z-index: 9999999;
    position: fixed;
    top: 50%;
    left: 50%;
    border:0;
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
}
.ui-loader-default {
    background: none;
    filter: Alpha(Opacity=18);
    opacity: .18;
    width: 2.875em;
    height: 2.875em;
    margin-left: -1.4375em;
    margin-top: -1.4375em;
}
.ui-loader-verbose {
    width: 12.5em;
    filter: Alpha(Opacity=88);
    opacity: .88;
    box-shadow: 0 1px 1px -1px #fff;
    height: auto;
    margin-left: -6.875em;
    margin-top: -2.6875em;
    padding: .625em;
}
.ui-loader-default h1 {
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}
.ui-loader-verbose h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.ui-loader .ui-icon-loading {
    background-color: #000;
    display: block;
    margin: 0;
    width: 2.75em;
    height: 2.75em;
    padding: .0625em;
    -webkit-border-radius: 2.25em;
    border-radius: 2.25em;
}
.ui-loader-verbose .ui-icon-loading {
    margin: 0 auto .625em;
    filter: Alpha(Opacity=75);
    opacity: .75;
}
.ui-loader-textonly {
    padding: .9375em;
    margin-left: -7.1875em;
}
.ui-loader-textonly .ui-icon-loading {
    display: none;
}
.ui-loader-fakefix {
    position: absolute;
}
/* Headers, content panels */
.ui-bar,
.ui-body {
    position: relative;
    padding: .4em 1em;
    overflow: hidden;
    display: block;
    clear: both;
}
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 1em;
}
/* Panel */
.ui-panel {
    width: 17em;
    min-height: 100%;
    max-height: none;
    border-width: 0;
    position: absolute;
    top: 0;
    display: block;
}
.ui-panel-closed,.subcategories_mobile {
    width: 0;
    max-height: 100%;
    overflow: hidden;
}
.ui-panel-closed{
    visibility: hidden;
}
.ui-panel-fixed {
    position: fixed;
    bottom: -1px; /* Fixes gap on Chrome for Android */
    padding-bottom: 1px;
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
}
.ui-panel-display-reveal {
    z-index: 1;
}
.ui-panel-display-push {
    z-index: 999;
}
.ui-panel-display-overlay {
    z-index: 1003; /* Fixed toolbars have z-index 1000 */
}
.ui-panel-inner {
    padding: 1em;
}
/* Container, page and wrapper */
.ui-panel-page-container {
    overflow-x: visible;
}
.ui-panel-page-container-themed .ui-page-active {
    background: none;
}
.ui-panel-wrapper {
    position: relative;
    min-height: inherit;
    border: 0;
    overflow-x: hidden;
    z-index: 999;
}
/* Fixed toolbars */
.ui-panel-fixed-toolbar {
    overflow-x: hidden;
}
/* Dismiss */
.ui-panel-dismiss {
    height: 100% !important;
    position: fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    display: none;
    width: 100%;
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
}
.ui-panel-dismiss-open {
    display: block;
}
/* Animate class is added to panel, wrapper and fixed toolbars */
.ui-panel-animate {
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-duration: 300ms;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}
/* Fix for Windows Phone issue #6349: unset the transition for transforms in case of fixed toolbars. */
@media screen and ( max-device-width: 768px ) {
    .ui-page-header-fixed .ui-panel-animate.ui-panel-wrapper,
    .ui-page-footer-fixed .ui-panel-animate.ui-panel-wrapper,
    .ui-panel-animate.ui-panel-fixed-toolbar {
        -ms-transition: none;
    }
    /* We need a transitionend event ... */
    .ui-panel-animate.ui-panel-fixed-toolbar {
        -ms-transition: -ms-transform 1ms;
        -ms-transform: rotate(0deg);
    }
}
/* Hardware acceleration for smoother transitions on WebKit browsers */
/*creo q aki no*/
.ui-panel-animate.ui-panel:not(.ui-panel-display-reveal),.subcategories_mobile{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}
/* Panel positioning (for overlay and push) */
/* Panel left closed */
.ui-panel-position-left {
    left: -17em;
}
/* Panel left closed animated */
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    left: 0;
    -webkit-transform: translate3d(-17em,0,0);
    -moz-transform: translate3d(-17em,0,0);
    transform: translate3d(-17em,0,0);
}
/* Panel left open */
.ui-panel-position-left.ui-panel-display-reveal, /* Unset "panel left closed" for reveal */
.ui-panel-open.ui-panel-position-left {
    left: 0;
}
/* Panel left open animated */
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}
/* Panel right closed */
.ui-panel-position-right {
    right: -17em;
}
/* Panel right closed animated */
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,.unselected.subcategories_mobile,
.ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    right: 0;
    -webkit-transform: translate3d(17em,0,0);
    -moz-transform: translate3d(17em,0,0);
    transform: translate3d(17em,0,0);
}
/* Panel right open */
.ui-panel-position-right.ui-panel-display-reveal, /* Unset "panel right closed" for reveal */
.ui-panel-position-right.ui-panel-open {
    right: 0;
}
/* Panel right open animated */
/*aki tambien*/
.ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-overlay,.selected.subcategories_mobile,
.ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}
/* Wrapper and fixed toolbars positioning (for reveal and push) */
/* Panel left open */
.ui-panel-page-content-position-left {
    left: 17em;
    right: -17em;
}
/* Panel left open animated */
.ui-panel-animate.ui-panel-page-content-position-left {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(17em,0,0);
    -moz-transform: translate3d(17em,0,0);
    transform: translate3d(17em,0,0);
}
/* Panel right open */
.ui-panel-page-content-position-right {
    left: -17em;
    right: 17em;
}
/* Panel right open animated */
.ui-panel-animate.ui-panel-page-content-position-right {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(-17em,0,0);
    -moz-transform: translate3d(-17em,0,0);
    transform: translate3d(-17em,0,0);
}
/* Dismiss model open */
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 0px;
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
    right: 0px;
}
/* Shadows and borders */
.ui-panel-display-reveal {
    -webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
    box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
}
.ui-panel-position-right.ui-panel-display-reveal {
    -webkit-box-shadow: inset 5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: inset 5px 0 5px rgba(0,0,0,.15);
    box-shadow: inset 5px 0 5px rgba(0,0,0,.15);
}
.ui-panel-display-overlay {
    -webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
    box-shadow: 5px 0 5px rgba(0,0,0,.15);
}
.ui-panel-position-right.ui-panel-display-overlay {
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0 5px rgba(0,0,0,.15);
    box-shadow: -5px 0 5px rgba(0,0,0,.15);
}
.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    border-right-width: 1px;
    margin-right: -1px;
}
.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
    margin-left: 1px;
    width: auto;
}
.ui-panel-open.ui-panel-position-right.ui-panel-display-push {
    border-left-width: 1px;
    margin-left: -1px;
}
.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
    margin-right: 1px;
    width: auto;
}
/* Responsive: wrap on wide viewports once open */
@media (min-width:55em) {
    .ui-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-position-left {
        margin-right: 17em;
    }
    .ui-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-position-right {
        margin-left: 17em;
    }
    .ui-responsive-panel .ui-panel-page-content-open {
        width: auto;    
    }
    .ui-responsive-panel .ui-panel-dismiss-display-push,
    .ui-responsive-panel.ui-page-active ~ .ui-panel-dismiss-display-push {
        display: none;
    }
}

/*height*/
@media only screen and (max-height: 350px){
    .ui-mobile [data-role=page],
    .ui-mobile [data-role=dialog],
    .ui-page {
        height: auto;
    }
}

/*lesther*/
.ui-panel{
    background: #252525;
    color: #fff;
    text-transform: capitalize;
    overflow: hidden;
}
.ui-panel a,.ui-panel .left_bullet,.ui-panel .icon_menu,.backmenu {
    cursor: pointer;
    display: block;
    padding: 15px 10px;
    position: relative;
    /*box-sizing*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
/*containers*/
.container_links{
    min-height: 246px;
    padding: 10px 0px;
    position: relative;
    border-top: 1px solid #303030;
}
.exit_menu{
    text-align: left;
    border-bottom: 1px solid #181818;
}
/*title links*/
.ui-panel .exit_menu > *{
    display: inline-block;
    width: 50%;
}
.ui-panel .exit_menu > .home{
    text-align: left;
    padding: 15px 0px;
}
.container_links :target{
    left: 0%;
}
/*submenu*/
.ui-panel .subcategories_mobile > *{
    padding: 10px;
}
.subcategories_mobile{
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #252525;
    padding: 10px 0px;
}

/*icon*/
.container_links > *.icon_menu{
    padding-left: 35px;
}
.container_links .icon_menu:after{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*selected link*/
#current_link_mobile{
    pointer-events: none;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2;
}