@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*deign*/
	.design .icon_element .book{
		background-image: url('../images/notebook_icon.svg');
	}
	.design .icon_element .pen{
		background-image: url('../images/pen_icon.svg');
	}
	.design .icon_element .phone{
		background-image: url('../images/phone_icon.svg');
	}
	.design .icon_element .comp{
		background-image: url('../images/monitor_icon.svg');
	}

	/*brand*/
	.bck_img.brand:before{
		background-image: url('../images/bck_brand_web_hd.jpg');
	}
	/*content*/
	.brand_content .sample .graffos_branding > .result .pic{
		background-image: url('../images/graffito-pet_sm.svg');
	}
	.brand_content .logotype_graffos{
		background-image: url('../images/graffos_logo.svg');
	}
	

	/*ux/ui*/
	.bck_img.ux_ui:before{
		background-image: url('../images/bck_ux_ui_web_hd.jpg');
	}


	/*cms*/
	.icons_cms > .user{
		background-image: url('../images/ico_user_cms.svg');
	}
	.icons_cms > .doc{
		background-image: url('../images/ico_doc_cms.svg');
	}
	.icons_cms > .down{
		background-image: url('../images/ico_down_cms.svg');
	}
}