/*design*/
.design .icon_element{
	margin-top: 35px;
}


/*brand content*/
/*container*/
.body .brand_content .brand_container > div{
	padding: 30px 10px 10px;
}
/*title*/
.brand_content .title.museo{
	font-size: 30px;
	line-height: 32px;
}
/*icons width*/
.brand_content .sample .steps .color_text > div {
	width: 130px;
}
.brand_content .sample .color_text label {
	display: inline-block;
}
/*icons sample*/
.brand_content .sample .steps > div{
	text-align: left;
}
.brand_content .sample .steps > .color_text{
	text-align: center;
}
/*logotype*/
.brand_content .logotype_graffos{
	width: 230px;
	height: 80px;
}

/*brand*/
.brand .description{
	width: 70%;
	margin: 0 0 0 auto;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	max-width: 300px;
}
/*background*/
.bck_img.brand:before{
	background-image: url('../images/bck_brand_landscape.jpg');
}


/*ux/ui*/
.ux_ui .description{
	width: 70%;
	margin: 0 0 0 auto;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	max-width: 300px;
}
/*background*/
.bck_img.ux_ui:before{
	background-image: url('../images/bck_ux_ui_landscape.jpg');
}


/*cms*/
.cms .middle_container > .middle_cell{
	padding: 20px 0px 90px;
}
/*icons*/
.icons_cms > div{
	width: 50px;
	height: 50px;
}
.icons_cms > .user{
	background-image: url('../images/ico_user_cms_landscape.png');
}
.icons_cms > .doc{
	background-image: url('../images/ico_doc_cms_landscape.png');
}
.icons_cms > .down{
	background-image: url('../images/ico_down_cms_landscape.png');
}


/*generals*/
/*title*/
.title.museo {
	font-size: 65px;
	line-height: 60px;
}