/*text intro*/
.works_text{
	height: 90px;
	max-width: 280px;
	background-image: url('../../images/works/works_text.svg');
}

/*images*/
.bck_img.works_image:before{
	background-image: url('../../images/works/bck_works_ipad.jpg');
}


/*gallery*/
.og-grid li.nica_challenge > a{
	background-image: url('../../images/works/component/thumbs/thumbs_nica_challenge_ipads.jpg');
}
.og-grid li.menuejecutivo > a{
	background-image: url('../../images/works/component/thumbs/thumbs_menuejecutivo_ipads.jpg');
}
.og-grid li.loop_swoop > a{
	background-image: url('../../images/works/component/thumbs/thumbs_loop_swoop_ipads.jpg');
}
.og-grid li.xfactor > a{
	background-image: url('../../images/works/component/thumbs/thumbs_xfactor_ipads.jpg');
}
.og-grid li.sca > a{
	background-image: url('../../images/works/component/thumbs/thumbs_sca_ipads.jpg');
}
.og-grid li.graffos_cards > a{
	background-image: url('../../images/works/component/thumbs/thumbs_graffos_cards_ipads.jpg');
}
.og-grid li.ciaobella > a{
	background-image: url('../../images/works/component/thumbs/thumbs_ciaobella_ipads.jpg');
}
.og-grid li.fundacion_mujer > a{
	background-image: url('../../images/works/component/thumbs/thumbs_fundacion_mujer_ipads.jpg');
}
.og-grid li.dantec > a{
	background-image: url('../../images/works/component/thumbs/thumbs_dantec_ipads.jpg');
}
.og-grid li.heliosone > a{
	background-image: url('../../images/works/component/thumbs/thumbs_heliosone_ipads.jpg');
}
/*recent work & featured project*/
.og-grid li.recent_work{
	background-image: url('../../images/works/component/thumbs/thumbs_recent_work.svg');
}
.og-grid li.featured_project{
	background-image: url('../../images/works/component/thumbs/thumbs_featured_project.svg');
}

/*text work*/
.container_text_work{
	max-width: 700px;
	line-height: 24px;
	font-size: 16px;
}

.work_icon{
	width: 80px;
	height: 80px;
}

/*icons svg*/
.works .icon_container .scroll_down,
.works .icon_container_small .scroll_down{
	background-image: url('../../images/works/circle_white.svg');
}

.works .icon_container .scroll_down:after, .works .icon_container_small .scroll_down:after{
	background-image: url('../../images/works/mouse_icon.svg');
}
/*idea*/
.work_icon{
	background-image: url('../../images/works/icon_idea.svg');
}