/*text intro*/
.works_text{
	height: 90px;
	max-width: 280px;
	background-image: url('../../images/works/works_text.svg');
}

/*images*/
.bck_img.works_image:before{
	background-image: url('../../images/works/bck_works_ipad.jpg');
}


/*text work*/
.container_text_work{
	max-width: 700px;
	line-height: 24px;
	font-size: 16px;
}

.work_icon{
	width: 80px;
	height: 80px;
}

/*icons svg*/
.works .icon_container .scroll_down,
.works .icon_container_small .scroll_down{
	background-image: url('../../images/works/circle_white.svg');
}

.works .icon_container .scroll_down:after, .works .icon_container_small .scroll_down:after{
	background-image: url('../../images/works/mouse_icon.svg');
}
/*idea*/
.work_icon{
	background-image: url('../../images/works/icon_idea.svg');
}

/*slide gallery*/
.slide_gallery, .slide_gallery_mobile{
	padding: 20px 0px 50px;
}