@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*text desing*/
	.design_text{
		background-image: url('../../images/works/works_text.svg');
	}

	/*images*/
	.bck_img.works_image:before{
		background-image: url('../../images/works/bck_works_web_hd.jpg');
	}

	/*scroll*/

	/*component*/
	.og-grid li.recent_work{
		background-image: url('../../images/works/component/thumbs/thumbs_recent_work.svg');
	}
	.og-grid li.featured_project{
		background-image: url('../../images/works/component/thumbs/thumbs_featured_project.svg');
	}
}