.pictures .pic{
	width: 150px;
	height: 149px;
}

/*founders*/
.body > .founders{
	padding: 40px 0px;
}


/*images*/
/*roberto pic*/
.pic_n_description .pic .roberto_preview{
	background-image: url('../../images/home/preview_roberto_sm.landscape.png');
}
/*lesther pic*/
.pic_n_description .pic .lesther_preview{
	background-image: url('../../images/home/preview_lesther_sm.landscape.png');
}
/*betoche pic*/
.pic_n_description .pic .betoche_preview{
	background-image: url('../../images/home/preview_betoche_sm.landscape.png');
}
/*gerald pic*/
.pic_n_description .pic .gerald_preview{
	background-image: url('../../images/home/preview_gerald_sm.landscape.png');
}


/*navigation*/
/*left*/
.pictures .device .arrow-left{
	left: 20px;
}
.pictures .device .arrow-right{
	right: 20px;
}