/*.body > .home_image .middle_cell > *{
	max-width: 890px;
}
*/
.bck_img.home_image:before{
	background-image: url('../../images/home/bck_home_1366.jpg');
}

.team_web .profile{
	width: 220px;
	display: inline-block;
}

.profile .pic{
	width: 180px;
	height: 180px;
}
.body > .about_home,.slide_text .swiper-slide > div,.title_team > div,.title_graffos > div{
	max-width: 890px;
}


/*arrow team*/
.team_container:before{
	border-width: 20px 17.5px 0 17.5px;
}