.home_text{
	max-width: 550px;
	height: 500px;
}
/*.body > .home_image .middle_cell > *{
	max-width: 772px;
}*/


/*menu*/
.home .menu_sub_container a:hover,.home .header_container_skroll a:hover{
	color: #04b3b2;
}
.home .menu_sub_container > *:hover > span{
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}


.bck_img.home_image:before{
	background-image: url('../../images/home/bck_home_1024.jpg');
}

/*team*/
.body > .slide_design{
	padding: 100px 0px;
}
.profile{
	color: #A0A0A0;
}
.profile .name a{
	color: #A0A0A0;
}
.profile .name a b{
	color: #A0A0A0;
}

.team_mobile{
	display: none;
}
.team_web{
	display: block;
}

.team_web{
	margin: 0 auto;
	text-align: center;
}
.team_web .profile{
	width: 190px;
	display: inline-block;
}
.profile .pic{
	width: 150px;
	height: 150px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

/*about home*/
/*title parallelogram*/
.body > .about_home,.slide_text .swiper-slide > div,.title_team > div,.title_graffos > div{
	max-width: 772px;
}
.title_team{
	bottom: -50px;
}
.triangle_title,.title_team > div:after{
	height: 100px;
}
.title_team .team_img{
	height: 80px;
}
/*home*/
.title_graffos{
	top: -55px;
}