/*founders*/
.founders .title{
	font-size: 40px;
	padding: 0px 40px 0px 210px;
	max-width: 1349px;
	margin: 0 auto;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.founders .title div{
	padding: 20px;
}

.pictures .description_pic {
	padding-top: 40px;
}


/*images*/
/*roberto pic*/
.pic_n_description .pic div{
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	overflow: hidden;
	position: relative;
}
.pic_n_description .pic div:before,.pic_n_description .pic div:after{
	/*transition*/
	-moz-transition: all 0.3s ease !important;
	-webkit-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	transition: all 0.3s ease !important;
}

.pic_n_description .pic div:before{
	content: "";
	position: absolute;
	background: url('../../images/home/more_icon.png') no-repeat;
	width: 100px;
	height: 100px;
	z-index: 2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.pic_n_description .pic div:hover:before{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}


.pic_n_description .pic div:after{
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(28,187,180,0);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.pic_n_description .pic div:hover:after{
	background: rgba(28,187,180,0.8);
}


.pictures .pic{
	width: 350px;
	height: 350px;
}


.pic_n_description .pic .roberto_preview{
	background-image: url('../../images/home/preview_roberto_sm.web.jpg');
}
/*lesther pic*/
.pic_n_description .pic .lesther_preview{
	background-image: url('../../images/home/preview_lesther_sm.web.jpg');
}
/*betoche pic*/
.pic_n_description .pic .betoche_preview{
	background-image: url('../../images/home/preview_betoche_sm.web.jpg');
}
/*gerald pic*/
.pic_n_description .pic .gerald_preview{
	background-image: url('../../images/home/preview_gerald_sm.web.jpg');
}


/*pagination*/
/*left*/
.pictures .device .arrow-left{
	left: 60px;
}
.pictures .device .arrow-right{
	right: 60px;
}