.bck_img.home_image:before{
	background-image: url('../../images/home/bck_home_landscape_480.jpg');
}

/*about*/
.title_about_home{
	margin: 0 0 20px auto;
}

/*arrow team*/
.team_container:before{
	border-width: 15px 12.5px 0 12.5px;
}