.body > .home_image.middle_container{
	padding-top: 70px;
}
.bck_img.home_image:before{
	background-image: url('../../images/home/bck_home_900.jpg');
}

/*team*/
.profile .pic{
	width: 230px;
	height: 230px;
}