/*bck*/
.home_text{
	max-width: 300px;
	height: 280px;
}
.bck_img.home_image:before{
	background-image: url('../../images/home/bck_home_landscape.jpg');
}

/*about title*/
.title_about_home{
	width: 120px;
	height: 68px;
}

/*title parallelogram*/
/*slide title team, home*/
.team_img_container,.graffos_img_container{
	width: 200px;
}
.title_team .team_img{
	width: 120px
}
.title_team > div:after,.title_graffos > div:after{
	margin-left: -100px;
}
/*home title*/
.title_graffos .graffos_img{
	width: 100px
}