/*team*/
.profile:hover,.profile:hover .name span{
	color: #000;
}
.profile:hover .name b{
	color: #04b3b2
}
.profile,.profile .pic,.profile .name a *{
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.profile:hover .pic{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.profile .social_profile > *{
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.profile .social_profile > *:hover{
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.home_image{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/*titles*/
/*home intro*/
.title_graffos.skrollable{
	right: 100%;
}
.title_graffos.skrollable-after{
	right: 0%;
}
.title_graffos.skrollable .graffos_img{
	/*background size*/
	-webkit-background-size: 0%;
	-moz-background-size: 0%;
	-o-background-size: 0%;
	background-size: 0%;
	/*rotation*/
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
.title_graffos.skrollable-after .graffos_img{
	/*rotation*/
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}


/*team - home*/
.title_graffos.skrollable,.title_team.skrollable{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.title_graffos.skrollable .graffos_img,.title_team.skrollable .team_img{
	/*transition*/
	-moz-transition: all 0.3s ease 0.5s;
	-webkit-transition: all 0.3s ease 0.5s;
	-o-transition: all 0.3s ease 0.5s;
	transition: all 0.3s ease 0.5s;
}

/*team*/
.title_team.skrollable{
	left: 100%;
}
.title_team.skrollable-after{
	left: 0%;
}
.title_team.skrollable .team_img{
	right: -20px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.title_team.skrollable-after .team_img{
	right: 20px;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/*triangles*/
.icon_container_triangle.skrollable{
	overflow: hidden;
}
.icon_container_triangle.skrollable > *{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.icon_container_triangle.skrollable .triangle_red{
	top: -20px;
}
.icon_container_triangle.skrollable .triangle_blue{
	left: -23px;
}
.icon_container_triangle.skrollable .triangle_yellow{
	right: -23px;
}
/*position*/
.icon_container_triangle.skrollable-after .triangle_red{
	top: 20px;
}
.icon_container_triangle.skrollable-after .triangle_blue{
	left: 23px;
}
.icon_container_triangle.skrollable-after .triangle_yellow{
	right: 23px;
}

/*transition*/
.slide_text:hover .icon_container_triangle.skrollable .triangle_red{
	-moz-transition: all 0.5s ease 1s;
	-webkit-transition: all 0.5s ease 1s;
	-o-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
	-moz-transform:  translateX( 0% ) rotateY( -180deg );
	-webkit-transform:  translateX( 0% ) rotateY( -180deg );
	-o-transform:  translateX( 0% ) rotateY( -180deg );
	-ms-transform:  translateX( 0% ) rotateY( -180deg );
	transform:  translateX( 0% ) rotateY( -180deg );
	-moz-transform-origin: top center;
	-webkit-transform-origin: top center;
	-o-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	border-color: #22c0f0 transparent transparent transparent;
	_border-color: #22c0f0 #000000 #000000 #000000;
}
.slide_text:hover .icon_container_triangle.skrollable .triangle_blue,
.slide_text:hover .icon_container_triangle.skrollable .triangle_yellow{
	-moz-transform-origin: right center;
	-webkit-transform-origin: right center;
	-o-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
	-moz-transform:  translateY( 0% ) rotateX( -180deg );
	-webkit-transform:  translateY( 0% ) rotateX( -180deg );
	-o-transform:  translateY( 0% ) rotateX( -180deg );
	-ms-transform:  translateY( 0% ) rotateX( -180deg );
	transform:  translateY( 0% ) rotateX( -180deg );
}
.slide_text:hover .icon_container_triangle.skrollable .triangle_blue{
	-moz-transition: all 0.5s ease 5s;
	-webkit-transition: all 0.5s ease 5s;
	-o-transition: all 0.5s ease 5s;
	transition: all 0.5s ease 5s;
	border-color: transparent transparent transparent #fff200;
	_border-color: #000000 #000000 #000000 #fff200;
}
.slide_text:hover .icon_container_triangle.skrollable .triangle_yellow{
	-moz-transition: all 0.5s ease 8s;
	-webkit-transition: all 0.5s ease 8s;
	-o-transition: all 0.5s ease 8s;
	transition: all 0.5s ease 8s;
	border-color: transparent #da1c5b transparent transparent;
	_border-color: #000000 #da1c5b #000000 #000000;
}