/*background*/
.bck_img.branding_image{
	background-image: url('../../images/branding/bck_branding_ipad.jpg');
}
/*text*/
.branding_text{
	background-position: bottom center;
	height: 170px;
	background-image: url('../../images/branding/branding_text.svg');
}

/*margin top intro*/
.branding .middle_cell .container_intro{
	padding-top: 0px;
}

/*line*/
.diagonal_line{
	width: 80%;
    top: 95%;
}


/*rocket*/
.max_width{
	max-width: 700px;
	margin: 0 auto;
}
.branding_description div,.body > .steps_p,.description_step{
	line-height: 24px;
	font-size: 16px;
}
/*icon*/
.branding .rocket_icon_container{
	width: 150px;
	height: 80px;
}
.branding .rocket_icon_container .icon_rocket{
	width: 80px;
	height: 80px;
	background-image: url('../../images/branding/cohete_icon.svg');
}


/*steps*/
/*identify*/
.identify .title_step span{
	background-image: url('../../images/branding/1.svg');
}
/*define*/
.define .title_step span{
	background-image: url('../../images/branding/2.svg');
}
/*plane*/
.deilver .title_step span{
	background-image: url('../../images/branding/3.svg');
}
/*lupa*/
.identify .icon_step{
	background-image: url('../../images/branding/identify_Lupa.svg');
}
/*mouse*/
.define .icon_step{
	background-image: url('../../images/branding/mouse.svg');
}
/*plane*/
.deilver .icon_step{
	background-image: url('../../images/branding/paper_plane.svg');
}
.icon_step{
	width: 200px;
	height: 200px;
}

/*component*/
.og-grid li.case_studios{
	background-image: url('../../images/branding/component/thumbs/cases.svg');
}
.og-grid li.see_more{
	background-image: url('../../images/branding/component/thumbs/see_more.svg');
}


/*slide gallery*/
.slide_gallery,.slide_gallery_mobile{
	padding: 30px 0px 50px;
}