/*background*/
.bck_img.branding_image{
	background-image: url('../../images/branding/bck_branding_portrait.jpg');
	/*background size*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	background-attachment: fixed;
}
.bck_img.branding_image:before{
	background: #590076;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5MDA3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #590076 0%, #ff006c 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#590076), color-stop(100%,#ff006c));
	background: -webkit-linear-gradient(left,  #590076 0%,#ff006c 100%);
	background: -o-linear-gradient(left,  #590076 0%,#ff006c 100%);
	background: -ms-linear-gradient(left,  #590076 0%,#ff006c 100%);
	background: linear-gradient(to right,  #590076 0%,#ff006c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590076', endColorstr='#ff006c',GradientType=1 );
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;
}

/*text*/
.branding_text{
	width: 100%;
	height: 125px;
	background-image: url('../../images/branding/branding_text.png');
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 0 auto auto;
	max-width: 200px;
	position: relative;
}
.branding .middle_cell .container_intro{
	color: #fff;
}


/*rocket*/
.branding .rocket .skroll_rocket_container{
	bottom: 100%;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}
.branding .rocket .skroll_rocket{
	position: absolute;
	top: 30px;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	background: #F2F2F2;
}
.branding .rocket{
	background: #F2F2F2;
	padding: 50px 20px 50px;
}
.body > .steps_p{
	padding: 50px 20px 20px;
	line-height: 24px;
	color: #7D7D7D;
}
.branding .rocket,.steps_p{
	position: relative;
	text-align: center;
}
.branding_description div{
	line-height: 22px;
	color: #000;
}
.branding .rocket .text_rocket span{
	color: #4ed0d1;
	font-size: 18px;
	font-weight: bold;
}

/*icon*/
.branding .rocket_icon_container{
	position: relative;
	width: 65px;
	height: 65px;
	margin: 0 auto 20px;
}
.branding .rocket_icon_container .icon_rocket{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 65px;
	height: 65px;
	background-image: url('../../images/branding/cohete_icon.png');
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}


/*gallery*/
.gallery_container .swiper-slide.menuejecutivo:before{
	background-image: url('../../images/works/slide_gallery/menuejecutivo_s.jpg');
}
.gallery_container .swiper-slide.greenspa:before{
	background-image: url('../../images/works/slide_gallery/green_s.jpg');
}
.gallery_container .swiper-slide.dantec:before{
	background-image: url('../../images/works/slide_gallery/dantec_s.jpg');
}
.gallery_container .swiper-slide.heliosone:before{
	background-image: url('../../images/works/slide_gallery/helios_s.jpg');
}


/*bottom text*/
.botton_notes:after{
	content: ". . .";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	height: 10px;
	font-weight: bold;
	text-align: center;
	color: #04D0D0;
	font-family: 'times new roman';
	font-size: 40px;
	max-width: 100px;
	line-height: 0;
	display: block;
}


/*slide*/
.body > .slide_steps{
	padding: 0px;
}
.steps_text{
	line-height: 22px;
	padding: 40px 20px 0px;
}
/*icon*/
.icon_step{
	width: 150px;
	height: 150px;
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.identify .icon_step{
	background-image: url('../../images/branding/identify_Lupa.png');
}
.define .icon_step{
	background-image: url('../../images/branding/mouse.png');
}
.deilver .icon_step{
	background-image: url('../../images/branding/paper_plane.png');
}
/*description*/
.description_step{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 20px 0px 0px;
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	max-width: 270px;
}
.description_step span{
	font-weight: bold;
}
/*title*/
.title_step{
	font-size: 18px;
	color: #fff;
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px 30px 10px 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-transform: capitalize;
	position: relative;
}
.title_step span{
	position: absolute;
	left: -15px;
	top: -14px;
	width: 70px;
	height: 70px;
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
/*identify*/
.identify .title_step{
	background: #fa565a;
}
.identify .description_step span{
	color: #fa565a;
}
.identify .title_step span{
	background-image: url('../../images/branding/1.png');
}
/*define*/
.define .title_step{
	background: #c4d92e;
}
.define .description_step span{
	color: #c4d92e;
}
.define .title_step span{
	background-image: url('../../images/branding/2.png');
}
/*plane*/
.deilver .title_step{
	background: #4ed0d1;
}
.deilver .description_step span{
	color: #4ed0d1;
}
.deilver .title_step span{
	background-image: url('../../images/branding/3.png');
}

/*slide pagination*/
.pagination > .swiper-pagination-switch{
	position: relative;
	background: #DDDDDD;
	border: 1px solid #DDDDDD;
}
.pagination > .swiper-active-switch.swiper-pagination-switch:nth-of-type(1){
	border: 1px solid #fa565a;
	background: #fa565a;
}
.pagination > .swiper-active-switch.swiper-pagination-switch:nth-of-type(2){
	border: 1px solid #c4d92e;
	background: #c4d92e;
}
.pagination > .swiper-active-switch.swiper-pagination-switch:nth-of-type(3){
	border: 1px solid #4ed0d1;
	background: #4ed0d1;
}
/*hidding web*/
.web_steps{
	display: none;
}

/*slide gallery*/
.slide_gallery, .slide_gallery_mobile{
	padding: 20px 0px 50px;
}