/*background*/
.bck_img.contact_image:before{
	background-image: url('../../images/contact/bck_contact_900.jpg');
}
/*text*/
.contact_text{
	height: 110px;
	max-width: 400px;
}

.contact .description {
	font-size: 18px;
	line-height: 24px;
}

/*text contact*/
.contact .text_contact{
	padding: 70px 20px;
}

/*form*/
.input_contact{
	max-width: 750px;
	position: relative;
}
.contact .input_contact > form{
	display: block;
	padding-left: 50%; 
}
.contact .input_contact > form > div{
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 0px;
}
.contact .input_contact > form > div.button_container{
	padding-bottom: 0px;
}
.input_contact input, .input_contact textarea{
	margin: 0;
	padding: 25px 20px;
	max-height: 66px;
}
.input_contact .button{
	line-height: 16px;
	max-height: 66px;
	padding: 25px 20px;
}
.input_contact textarea{
	height: 229px;
	min-height: 229px;
	max-height: 229px;
}
.contact .input_contact > form > .textarea_body{
	padding: 0;
	position: absolute;
	left: 0;
	width: 50%;
	top: 50px;
}