@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*brand*/
	.bck_img.brand:before{
		background-image: url('../images/bck_brand_web_hd.jpg');
	}
	/*content*/
	.brand_content .sample .graffos_branding > .result .pic{
		background-image: url('../images/graffito-pet_sm.svg');
	}
	.brand_content .logotype_graffos{
		background-image: url('../images/graffos_logo.svg');
	}
}