@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*about*/
	.body .about_container{
		background-image: url('../images/bck_about_webhd.jpg');
	}
	.about_container .question_container .first_line:before{
		background: #fff;
		-webkit-border-radius: 200%;
		-moz-border-radius: 200%;
		border-radius: 200%;
	}

	/*founders*/
	.bck_founders{
		background-image: url('../images/bck_founders_webhd.jpg');
	}
}
