/*body*/
/*welcome*/
.hello > div > div{
	width: 70%;
	min-width: 550px;
	max-width: 700px;
}


/*mision*/
.mision > div > div{
	width: 40%;
	min-width: 400px;
}


/*about*/
.about_container .question_container > div{
	width: 40%;
	min-width: 400px;
}
.about_container .question_container{
	padding: 20px 140px;
}


/*images*/
/*welcome*/
/*background*/
.bck_img.bck_graffito:before{
	/*background size*/
	background-image: url('../images/graffito-pet_sm.svg');
	top: -50px;
	max-width: 80%;
}
/*about*/
.body .about_container{
	background-image: url('../images/bck_about_web1024.jpg');
}

/*founders*/
.bck_founders{
	background-image: url('../images/bck_founders_web1024.jpg');
}

/*circles*/
.about_container .question_container .first_line:before{
	background: #fff;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
}