/*welcome*/
/*background*/
.bck_img.bck_graffito:before{
	/*background size*/
	background-image: url('../images/bck_graffito_sm.png');
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
	max-width: 360px;
	height: 664px;
}

/*about*/
.body .about_container{
	background-image: url('../images/bck_about_smlandscape.jpg');
}

/*question*/
.about_container .question_container{
	padding: 20px 50px 20px;
}

/*founders*/
.bck_founders{
	background-image: url('../images/bck_founders_smlandscape.jpg');
}
