/*home*/
/*height and position*/
/*mision*/
.home .mision .lines.first{
    float: left;
}
.home .mision .lines.first > div{
    height: 200px;
    top: -26px;
    left: -10px;
}
.home .mision .lines.second{
    float: left;
    margin-left: 7px;
}
.home .mision .lines.second > div{
    height: 120px;
    top: -15px;
    left: 25px;
}

/*founders*/
.home .founders .lines > div{
    height: 450px;
    bottom: 0px;
    left: 100px
}
.home .founders .lines{
    position: absolute;
}



/*design*/
/*top*/
.design .lines.top_line{
    height: 20px;
    display: block;
}
.design .lines.top_line > div{
    height: 150px;
    top: -50px;
    left: 30px;
}
/*bottom*/
.design .lines.bottom_line{
    position: absolute;
    right: 0;
    width: auto;
    margin-top: 20px;
}
.design .lines.bottom_line > div{
    height: 200px;
    top: -40px;
    right: 70px;
}
/*take a look*/
.design .lines.bottom_line .take_a_look{
    font-family: 'ostrich';
    font-size: 25px;
    color: #fff;
}
.design .lines.bottom_line .take_a_look span{
    color: #000;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/under_construction_circle.png');
    /*background size*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding: 17px 0px;
    /*box-sizing*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}



/*ux/ui - brand*/
.ux_ui .lines,.brand .lines{
    display: block;
    z-index: 1;
    position: relative;
    width: auto;
}
/*ux ui*/
.ux_ui .lines{
    height: 60px;
}
/*brand*/
.brand .lines{
    height: 75px;
}
/*ux ui position*/
.ux_ui .lines.top_line > div{
    height: 200px;
    top: -100px;
    left: 50px
}
/*brand position*/
.brand .lines.top_line > div {
    height: 230px;
    top: -110px;
    left: 70px;
}
/*bottom line ux ui*/
.ux_ui .lines.bottom_line,.brand .lines.bottom_line{
    right: 0;
}
.ux_ui .lines.bottom_line > div{
    height: 200px;
    top: -30px;
    right: 0px
}


/*services*/
/*cms*/
.cms .lines{
    position: absolute;
}
.cms .lines.bottom_line{
    right: 0;
}
.cms .lines.top_line > div{
    height: 180px;
    top: -30px;
    left: 50px;
    z-index: 1;
}
.cms .lines.bottom_line > div{
    display: none;
}