/*home*/
/*founders*/
.home .founders .lines > div{
	bottom: -140px;
	height: 500px;
    left: 135px;
}


/*cms*/
.cms .lines.top_line > div{
	height: 350px;
	top: -40px;
	left: -10px;
}
.cms .lines.bottom_line > div{
	height: 350px;
	bottom: -80px;
	right: -50px;
}

/*ux/ui*/
.ux_ui .lines.top_line {
	height: 20px;
}
.ux_ui .lines.top_line > div{
	height: 350px;
	top: -200px;
	left: 20px;
}
.ux_ui .lines.bottom_line{
	height: 70px;
}
.ux_ui .lines.bottom_line > div {
	height: 350px;
	top: -70px;
	right: 110px;
}