/*height and position*/

/*mision*/
.home .mision .lines.first > div{
    top: -111px;
    left: 17px;
}
.home .mision .lines.second > div{
    top: -100px;
    left: 52px;
}

/*founders*/
.home .founders .lines > div{
    height: 650px;
    bottom: -275px;
    left: 205px;
}


/*design*/
.design .lines.bottom_line{
    right: -20px;
}
.design .lines.top_line > div{
    height: 200px;
    left: 30px;
    top: -60px;
}
.design .lines.bottom_line > div{
    top: -30px;
    right: 50px;
}


/*ux/ui - brand*/
.ux_ui .lines.top_line{
    height: 0px;
}
.brand .lines.top_line{
    height: 10px;
}
.ux_ui .lines.top_line > div{
    height: 300px;
    top: -175px;
    left: 0px;
}
/*brand*/
.brand .lines.top_line > div{
    height: 300px;
    top: -175px;
    left: 30px;
}
@media only screen and (min-width: 400px){
    .brand .lines.top_line > div{
        left: 20px;
    }
}
@media only screen and (min-width: 450px){
    .brand .lines.top_line > div{
        left: 5px;
    }
}



.ux_ui .lines.bottom_line > div{
    top: -70px;
    right: 120px
}


/*cms*/
.cms .lines.top_line > div{
	height: 250px;
	top: -45px;
	left: 60px;
}
.cms .lines.bottom_line > div{
    height: 250px;
    bottom: -60px;
    right: 50px;
}