/*height and position*/

/*mision*/
.home .mision .lines.first > div{
    top: -111px;
    left: 17px;
}
.home .mision .lines.second > div{
    top: -100px;
    left: 52px;
}

/*founders*/
.home .founders .lines > div{
    height: 650px;
    bottom: -275px;
    left: 205px;
}

/*cms*/
.cms .lines.top_line > div{
	height: 250px;
	top: -45px;
	left: 60px;
}
.cms .lines.bottom_line > div{
    height: 250px;
    bottom: -60px;
    right: 50px;
}