/*design*/
/*description*/
.design .description > span {
	font-size: 25px;
}
.design .description > span > span{
	line-height: 34px;
}

/*brand content*/
/*title*/
.brand_content .title.museo{
	margin: auto;
	font-size: 38px;
	line-height: 40px;
}

/*ux/ui - brand*/
.bck_img.ux_ui:before{
	background-image: url('../images/bck_ux_ui_web_900.jpg');
}
.bck_img.brand:before{
	background-image: url('../images/bck_brand_web_900.jpg');
}


/*cms*/
/*background*/
.bck_img.bck_hand:before{
	background-image: url('../images/bck_cms_web.png');/*change*/
	/*background size*/
	-webkit-background-size: 300px 369px;
	-moz-background-size: 300px 369px;
	-o-background-size: 300px 369px;
	background-size: 300px 369px;
}