/*ux/ui - brand*/
.bck_img.ux_ui:before{
	background-image: url('../images/bck_ux_ui_web_1024.jpg');
}
/*brand*/
.bck_img.brand:before{
	background-image: url('../images/bck_brand_web_1024.jpg');
}
.ux_ui .title.museo,.brand .title.museo {
	font-size: 100px;
	line-height: 90px;
}


/*brand content*/
.body .brand_content{
	padding-left: 210px;
}
.body .brand_content .brand_container{
	max-width: 1366px;
	position: relative;
	margin: 0 auto;
}
.brand_content .brand_container > div{
	max-width: 675px;
	width: 100%;
}
/*container*/
.brand_content  .description{
	padding-right: 115px;
}
/*text*/
.brand_content .sample .steps .color_text > div{
	width: 120px;
}
.brand_content .sample .color_text div{
	font-size: 9px;
}
.brand_content .logotype .patt_container{
	padding: 20px;
}


/*cms*/
.cms .middle_container > .middle_cell {
	padding: 20px 0px 50px;
}

.title.museo {
	margin-top: -50px;
}

/*background*/
.bck_img.bck_hand:before{
	background-image: url('../images/bck_cms_web.png');/*change*/
	/*background size*/
	max-width: 400px;
	max-height: 492px;
	bottom: 0px;
}