/*cms*/
.cms .middle_container > .middle_cell{
	padding: 20px 0px 90px;
}

/*title*/
.title.museo {
	font-size: 65px;
	line-height: 60px;
}

/*icons*/
.icons_cms > div{
	width: 50px;
	height: 50px;
}
.icons_cms > .user{
	background-image: url('../images/ico_user_cms_landscape.png');
}
.icons_cms > .doc{
	background-image: url('../images/ico_doc_cms_landscape.png');
}
.icons_cms > .down{
	background-image: url('../images/ico_down_cms_landscape.png');
}

/*ux/ui*/
.ux_ui .description{
	width: 70%;
	margin: 0 0 0 auto;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	max-width: 300px;
}
.bck_img.ux_ui:before{
	background-image: url('../images/bck_ux_ui_landscape.jpg');
}