/*mision*/
/*title*/
.mision_an.title > span{
	position: relative;
}
.skrollable-after .mision_an.title > span{
	-webkit-animation-delay: 1.2s;
	/* Fx 5+ */
	-moz-animation-delay: 1.2s;
	/* Opera 12+ */
	-o-animation-delay: 1.2s;
	/* IE 10+ */
	animation-delay: 1.2s;

	-webkit-animation-name: title_mision;
	-moz-animation-name: title_mision;
	-o-animation-name: title_mision;
	animation-name: title_mision;
}
.skrollable-between .mision_an.title > span{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	right: -50px;
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.skrollable-after .mision_an.title > span{
	right: 0px;
}

@-webkit-keyframes title_mision {
	0%   { -webkit-opacity: 0; right: -50px;}
}
@-moz-keyframes title_mision {
	0%   { -moz-opacity: 0; right: -50px;}
}
@-o-keyframes title_mision {
	0%   {  -o-opacity: 0; right: -50px;}
}
@keyframes title_mision {
	0%   { opacity: 0; right: -50px;}
}


/*circle*/
.about_container .question_container .first_line:before{
	/*transition*/
	-moz-transition: all 0.3s ease 0.3s;
	-webkit-transition: all 0.3s ease 0.3s;
	-o-transition: all 0.3s ease 0.3s;
	transition: all 0.3s ease 0.3s;
}
.about_container .question_container.skrollable-between .first_line:before{
	width: 0px;
	height: 0px;
}


/*founders*/
.founders .title .trans_i{
	white-space: nowrap;
	overflow: hidden;
}
.founders.skrollable-between .title .trans_i{
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.founders.skrollable-after .title .trans_i{
	-webkit-animation-name: founders_title;
	-moz-animation-name: founders_title;
	-o-animation-name: founders_title;
	animation-name: founders_title;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes founders_title {
	0%   { -webkit-opacity: 0;}
}
@-moz-keyframes founders_title {
	0%   { -moz-opacity: 0;}
}
@-o-keyframes founders_title {
	0%   {  -o-opacity: 0;}
}
@keyframes founders_title {
	0%   { opacity: 0;}
}
@-ms-keyframes founders_title {
	0%   { filter: alpha(opacity=0); opacity: 0;}
}