@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*default*/
	/*logo&Pet*/
	/*pet*/
	.header .pet > div {
		width: 66px;
		height: 57px;
		background: url('../images/header_pattern.jpg');
		-webkit-border-radius: 200%;
		-moz-border-radius: 200%;
		border-radius: 200%;
	}
	.header .pet > div:before {
		content: "";
		width: 53px;
		height: 59px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		margin-top: -3px;
		/*background size*/
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		background-image: url('../images/graffito-pet_sm.svg');
		background-repeat: no-repeat;
	}
	/*logo*/
	.header .logo_container .logo{
		background: url('../images/graffoslogo_sm.svg') no-repeat;
		/*background size*/
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		width: 93px;
		height: 37px;
		margin-left: 10px; 
	}
	/*pet*/
	.header .pet > div{
		width: 66px;
		height: 60px;
		background-image: none;
		background-color: #F2F2F2;
		-webkit-border-radius: 200%;
		-moz-border-radius: 200%;
		border-radius: 200%;
	}
	.header .pet .body_g,.header .pet .feet_g{
		left: 0;
		right: 0;
		top: 0px;
		margin: auto;
		width: 66px;
		height: 54px;
		position: absolute;
		/*background size*/
		-webkit-background-size: 85%;
		-moz-background-size: 85%;
		-o-background-size: 85%;
		background-size: 85%;
		background-repeat: no-repeat;
		background-position: top center;
	}
	.header .pet .body_g{
		background-image: url('../images/graffito-pet_body.svg');
	}
	.header .pet .feet_g{
		background-image: url('../images/graffito-pet_feet.svg');
	}


	/*menu*/
	.icon_menu.services:after{
		background-image: url('../images/services.svg');
	}
	.icon_menu.work:after{
		background-image: url('../images/works.svg');
	}
	.icon_menu.about:after{
		background-image: url('../images/aboutus.svg');
	}
	.icon_menu.news:after{
		background-image: url('../images/news.svg');
	}
	.icon_menu.contact:after{
		background-image: url('../images/send.svg');
	}


	/*socialnetwork*/
	/*icons*/
	.socialnetwork a{
		padding: 8px;
		position: relative;
	}
	.socialnetwork img{
		display: none;
	}
	.socialnetwork a:after{
		content: "";
		margin: 0 auto;
		display: block;
		/*background size*/
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
	/*background*/
	.socialnetwork .facebook_icon:after{
		background-image: url('../images/fb_icon.svg');
	}
	.socialnetwork .twitter_icon:after{
		background-image: url('../images/tw_icon.svg');
	}
	.socialnetwork .instagram_icon:after{
		background-image: url('../images/instagram_icon.svg');
	}
	.socialnetwork .linkedin_icon:after{
		background-image: url('../images/linkedin_icon.svg');
	}


	/*circles*/
	.about_container .question_container .first_line:before{
		background: #fff;
		-webkit-border-radius: 200%;
		-moz-border-radius: 200%;
		border-radius: 200%;
	}
	/*footer*/
	.social_contact .icon_social .meet_up:before {
		background-image: url('../images/meet_up_icon.svg');
	}
	.social_contact .icon_social .share:before {
		background-image: url('../images/share_icon.svg');
	}
	.social_contact .icon_social .chat:before{
		background-image: url('../images/chat_icon.svg');
	}
}