@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*deign*/
	.design .icon_element .book{
		background-image: url('../images/notebook_icon.svg');
	}
	.design .icon_element .pen{
		background-image: url('../images/pen_icon.svg');
	}
	.design .icon_element .phone{
		background-image: url('../images/phone_icon.svg');
	}
	.design .icon_element .comp{
		background-image: url('../images/monitor_icon.svg');
	}
}