/*cms*/
/*background*/
.bck_img.bck_hand:before{
	background-image: url('../images/bck_cms_web.png');/*change*/
	/*background size*/
	-webkit-background-size: 300px 369px;
	-moz-background-size: 300px 369px;
	-o-background-size: 300px 369px;
	background-size: 300px 369px;
}