@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	/*cms*/
	.icons_cms > .user{
		background-image: url('../images/ico_user_cms.svg');
	}
	.icons_cms > .doc{
		background-image: url('../images/ico_doc_cms.svg');
	}
	.icons_cms > .down{
		background-image: url('../images/ico_down_cms.svg');
	}
}