/*container*/
/*vertical align*/
.container{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 216px;
	height: 310px;
}
/*cell*/
.middle_container > .middle_cell{
	display: table-cell;
    vertical-align: middle;
}


/*container*/
.middle_cell > div{
	margin: 10px auto;
}



/*pet*/
.pet{
	position: relative;
	display: inline-block;
}
/*background*/
.pet .body_pet,.pet .feet_pet{
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
/*body*/
.pet .body_pet{
	background-image: url('../images/graffito_body.png');
	width: 216px;
	height: 205px;

}
/*feet*/
.pet .feet_pet{
	position: absolute;
	bottom: 0px;
	left: 0;
	background-image: url('../images/graffito_feet.png');
	width: 216px;
	height: 69px;
}


/*transition*/
.pet .body_pet{
	/*transition*/
	-moz-transition: all 0.3s ease !important;
	-webkit-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	transition: all 0.3s ease !important;
}
.pet:hover .body_pet{
	/*rotation*/
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}


/*title*/
.title{
	padding: 30px;
	width: 480px;
}
.title .header{
	font-size: 30px;
	line-height: 30px;
}
.title .ruda{
	font-size: 16px;
	margin-top: 15px;
	line-height: 25px; 
}


.email{
	margin-top: 25px;
}
.email input[type*="text"],.email input[type*="email"]{
	width: 100%;
}



/*logo*/
.logo{
	width: 216px;
	height: 75px;
	background-image: url('../images/graffos_logo.png');
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}


/*footer*/
.footer{
	position: absolute;
	bottom: 20px;
	right: 20px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

