/*ux/ui*/
.bck_img.ux_ui:before{
	background-image: url('../images/bck_ux_ui_ipad.jpg');
}
.ux_ui .description{
	width: 70%;
	margin: 0 0 0 auto;
}
.ux_ui .content_cms{
	width: 90%;
	max-width: 480px;
}