/* default */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, html, body { margin: 0; padding: 0; }
fieldset, img { border: 0 }
ol, ul, li { list-style: none }
html { margin: 0 auto; overflow: auto;}
a { outline: 0; color: #6dcff6; text-decoration: none;}
a:hover { text-decoration: underline;}
div img, div iframe, object, param, embed, div { vertical-align: top }
a, img:active, input { outline: 0 }
a, label { display: inline-block; vertical-align: middle; }
input { vertical-align: middle; font-family: 'ruda'}

body{ font-family:arial; font-size:12px; background:#0173bc; color:#fff;}

input[type*="text"],input[type*="textarea"],input[type*="date"],input[type*="text"],input[type*="password"],textarea,input[type*="email"]{
	border:none;
	padding: 10px 15px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/*focus*/
input[type*="text"]:focus,input[type*="textarea"]:focus,input[type*="date"]:focus,input[type*="text"]:focus,input[type*="[password]"]:focus,
input[type*="text"]:hover,input[type*="textarea"]:hover,input[type*="date"]:hover,input[type*="text"]:hover,input[type*="[password]"]:hover,
.bck_white input[type*="text"]:focus,.bck_white input[type*="textarea"]:focus,.bck_white input[type*="date"]:focus,.bck_white input[type*="text"]:focus,.bck_white input[type*="password"]:focus,
.bck_white input[type*="text"]:hover,.bck_white input[type*="textarea"]:hover,.bck_white input[type*="date"]:hover,.bck_white input[type*="text"]:hover,.bck_white input[type*="password"]:hover,
textarea:hover,textarea:focus,input[type*="email"]:hover,input[type*="email"]:focus
{
	background: #FEFCCD;
}


/*body*/

.circle{
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
}


/*font-style*/
.black{
	font-family: "Arial Black", Arial;
	font-weight: 900;
}


/*buttons*/
input.remove_button{
	border:none;
	background: none;
	cursor: pointer;
	width: auto;
	color: #6dcff6;
	font-weight: bold;
}
input.remove_button:hover{
	text-decoration: underline;
}