/*notes*/
.botton_notes{
	background-image: url('../../images/notes/bck_w_note_landscape.jpg');
	font-size: 16px;
}

/*red*/
.botton_notes.red_note{
	background-image: url('../../images/notes/bck_w_note_landscape_red.jpg');
	font-size: 16px;
}

.bottom_form input[type*="text"],.bottom_form input[type*="email"]{
	width: 70%;
	min-width: 220px;
}

.botton_notes .device{
	height: 150px;
}
.contact_text{
	min-height: 0;
}

.botton_notes .swiper-slide .button_contact_container .button{
	width: 150px;
	padding: 10px;
}