/*icon coffee*/
.coffee_icon{
	position: relative;
}
.coffee_icon:before{
	content: "";
	position: absolute;
	bottom: 100%;
	display: block;
	width: 12px;
	height: 30px;
	background-image: url('../../images/notes/smoke.gif');
	/*background size*/
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	left: 0;
	right: 10px;
	margin: 0 auto 5px;
}
.botton_notes.red_note .coffee_icon:before{
	background-image: url('../../images/notes/smoke_red.gif');
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}